<div id="mySplitter">
    <div class="ui-layout-west">
        <div id="leftPanel" style="position: relative;">
            <div class="">
                <span class="float-left" style="margin-left: 20px;">Journeys: </span><span class="pin-button float-right"></span>
            </div>
            <div style ="margin-left: 20px;">
                <select id="ddlRoute" style="width:90%;"></select>
            </div>
            
            <div class="trip-home">
                Your trip
            </div>
            <div class="text-home">
                HOME
            </div>
            
            <div class="degrading-value">
                <div class="text-time">29</div>
                <div style="font-size:20pt;">MINUTES</div>
            </div>
            <div class="degrading-arrow">
            </div>
           <div class="degrading-text">CONDITIONS DEGRADING</div>
           
            <div class="improving-value">
                <div class="text-time">29</div>
                <div style="font-size:20pt;">MINUTES</div>
            </div>
            <div class="improving-arrow">
            </div>
           <div class="improving-text">CONDITIONS IMPROVING</div>

        </div>
    </div>
    <div class="ui-layout-center">
        <div id="map" class="map w100"></div>

    </div>
</div>
