extends layout

block content
  h1 Push Submitted
  p You Sent: #{title} 
  p Status: #{opID}
  form( method="post")
            div
                div
                    span.label Push notification :
                    input(type="text", name="message", id="<message></message>")
                
                div#pushSubmit
                    input(type="submit", value="Save")
        a(href="/")!= "Back to Employee List"