<ons-page style="background-color: white">

	<ul class="topcoat-list">

		<ons-list-item
			class="topcoat-list__item--tappable topcoat-list__item__line-height" 
			ng-click="ons.splitView.toggle();
				ons.splitView.setMainPage('main_navigator.html');">
			<i class="fa fa-home fa-lg" style="color: #666"></i>
			&nbsp; Home
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.splitView.toggle();
				ons.splitView.setMainPage('settings.html');">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Settings
		</ons-list-item>
		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.splitView.toggle();
				ons.splitView.setMainPage('attributions.html');">
			<i class="fa fa-code fa-lg" style="color: #666"></i>
			&nbsp; Attributions
		</ons-list-item>

	</ul>

</ons-page>
