<div class="login-box" style="width:400px; height:400px;">
    <div class="login-logo hide"></div>
    <div class="login-panel">
        <h1>
            {{locale "jobs.forgotpassword.title"}}
        </h1>
        <div id="userdiv" style="margin-left: 0px;">
            <label style="font-size: 13pt; margin-left: 75px !important; ">
                {{locale "jobs.forgotpassword.user"}}
            </label>
            <input type="text" class="icon-username mandatory" id="user" style="width: 250px; margin-left: 75px !important; margin-top: 5px; " />
        </div>
        <div id="oklbldiv" style="margin-left: 0px;">
            <div style="width: 260px; margin-bottom: 16px; margin-left: 75px !important;">
                <label style="font-size: 9pt;">
                    {{locale "jobs.forgotpassword.helptext"}}
                </label>
            </div>
            <div id="okBtn" class="button light-grey large float-left" style="width:100px; margin-left:75px !important; ">
                {{locale "jobs.forgotpassword.OK"}}
            </div>
        </div>
        <div id="emailsntdiv" style="display: none; margin-top: 10%; width: 240px; margin-left: 5%; margin-left: 75px !important;">
            <label id="emaillbl" style="font-size: 13pt;">
                {{locale "jobs.forgotpassword.emailsnt"}}
            </label>
        </div>
    </div>
    <div class="login-panel-shadow"></div>
</div>

