<div class="login-box">
    <div class="login-logo hide"></div>
    <div class="login-panel">
        <h1>{{locale "locate.common.login"}}</h1>
        <input type="text" class="mandatory icon-username" id="username" value="" style="width:250px; margin-left:75px !important;" />
        <input type="password" class="mandatory icon-password" id="password" value="" style="margin-bottom: 16px; width:250px; margin-left:75px !important;" />
        <div id="login-button" class="button light-grey large float-left" style="width:100px; margin-left:75px !important; "><b>{{locale "locate.common.enter"}}</b></div>
        <div class="float-left large"><a href="" id="lnkForgotPassword">{{locale "locate.common.forgot_pass"}}?</a></div>        
        <div class="alert large" style="clear:both;margin-left:75px">{{locale "locate.common.incorrect.username_pwd"}}</div>
    </div>
    <div class="login-panel-shadow hide"></div>
</div>
