<div class="login-box" style="width:400px; height:400px;">
    <div class="login-logo hide"></div>
    <div class="login-panel h400">
        <h1>
            {{locale "jobs.passwordreset.title"}}
        </h1>
        <div id="maindiv" style="font-size:8pt !important; margin-left:0px;">
            <div id="userdiv" style="margin-left:75px;">
                <label style="font-size: 13pt;">
                    {{locale "jobs.passwordreset.username"}}
                </label>
                <label id="usernameval" style="font-size: 13pt;">
                </label>
            </div>
            <div class="label" id="pwdlen" style="color: red; display: none; margin-top: 2%; margin-left:75px;">
                {{locale "jobs.passwordreset.newpassword_length"}}
            </div>
            <div id="np" style="margin-left:0px;">
                <label style="font-size: 13pt; margin-left:75px;">
                    {{locale "jobs.passwordreset.newpassword"}}
                </label>
                <input type="password" class="mandatory icon-password" id="newPwd" style="margin-bottom: 16px; width:250px; margin-left:75px !important;" />
            </div>
            <table id="pt" width="300" border="0" cellspacing="0" cellpadding="2" style="margin-left:75px;">
                <tbody>
                    <tr>
                        <td>
                            <div id="pwdMeter" class="neutral veryweak" style="float: right; margin-right: 13%;
                                margin-top: 2%;">
                                {{locale "password.strength.very_weak"}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="sp" style="width: 260px; margin-left: 75px;">
                <div class="label" style="min-width: 10px; float: right; margin-top: 2%;">
                    {{locale "jobs.passwordreset.showpassword"}}
                </div>
                <input type="checkbox" id="showCb" style="width: 15px; float: right;" />
            </div>
            <div id="cp" style="margin-top: 10%; margin-left: 75px; ">
                <label style="font-size: 13pt;">
                    {{locale "jobs.passwordreset.confirmnewpassword"}}
                </label>
                <input type="password" class="mandatory icon-password" id="confirmPwd" style="margin-top: 5px; margin-left: 0px;" />
            </div>
            <div id="pwdmatch" class="label" style="color: red; display: none; margin-left: 75px;">
                {{locale "jobs.passwordreset.password_match"}}
            </div>
            <div id="savediv" style="margin-left:75px;">
                <div id="saveBtn" class="button light-grey large float-left w60" style="margin-left: 0px;">
                    Save
                </div>
            </div>
        </div>
        <div id="pwdsuccessdiv" style="display: none; margin-top: 30%; margin-left: 75px; width:280px;">
            <label id="successlbl" style="font-size: 13pt;">
            </label>
            <a id="loginlink" href=""><font size="4pt">{{locale "jobs.passwordreset.newpassword_savemsglogin"}}</font></a>
            <label style="font-size: 13pt;">
                {{locale "jobs.passwordreset.newpassword_savemsg2"}}
            </label>
        </div>
        <div id="linkExpirydiv" style="display: none; margin-top: 30%; width: 280px; margin-left: 75px;">
            <label style="font-size: 13pt;">
                {{locale "jobs.passwordreset.linkinvalid_message"}}
            </label>
            <label style="font-size: 12px;">
                {{locale "jobs.passwordreset.linkinvalid_tryagain"}}
            </label>
            <a id="restartlink" href="">{{locale "jobs.passwordreset.linkinvalid_restartlink"}}</a>
        </div>
    </div>
</div>
