
.dialog-pop-up { border:1px solid #b6da04;background-color:#fff; font-family:Trebuchet MS; }
.dialog-pop-up .dialog-header { background-color:#efefef; background-image:url(images/chat-pop-up-header-bg.png); height:42px; width:auto; clear:both; cursor:move; }
.dialog-pop-up .dialog-header h1 { font-size:12pt; font-weight:bold; padding:0px; margin:0px; color:#4c4c4c; height:42px; line-height:42px; text-indent:10px; float:left; text-align:center}
.dialog-pop-up .dialog-header input {
	font-size:9pt; padding:0px; margin:0px; color:#4c4c4c; height:30px; line-height:30px; padding-left:3px; padding-right:3px; margin-top:4px; margin-right:10px;
	float:right; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border:1px solid #90c0e6; min-width:180px;
}

.dialog-pop-up .dialog-header .close {
	height:30px; width:30px; margin-top:4px; margin-right:4px; 	background-color:#efefef; background-image:url(images/close-message-pop-up.png); background-position:center; background-repeat:no-repeat;
	cursor:pointer; float:right; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border:1px solid #ccc;
}
.dialog-pop-up .dialog-header .close:hover {background-color:#fff;background-image:url(images/close-message-pop-up-hover.png);}

.dialog-pop-up .title { background-color:#e3ded4;  height:48px; width:auto; clear:both; border-bottom:2px solid #a6a4a4; }

.dialog-pop-up .title .title-bar-vertical-seperator{ background-image:url(images/title-vertical-seperator.png);  height:48px; width:20px; background-position:center; background-repeat:no-repeat;}
.dialog-pop-up .title h1 {padding:0px; margin:0px; height:48px; line-height:48px; margin-left:10px; margin-right:10px; font-size:10pt; color:#444;}

.dialog-pop-up .content {overflow:auto; width:inherit;}

.dialog-pop-up .content .day-seperator {
	clear:both; background-image:url(images/day-seperator-bg.png); background-repeat:no-repeat; background-repeat:repeat-x; background-position:center;
	text-align:center; height:40px; line-height:40px; width:80%; margin-left:auto; margin-right:auto; margin-top:10px; margin-bottom:10px;
}
.dialog-pop-up .content .day-seperator b{ background-color:#fff; text-align:center; font-size:10pt; padding-left:20px;padding-right:20px; color:#a29d9a;}

.dialog-pop-up .content .row{ min-height:36px; clear:both;}
.dialog-pop-up .content .row .left-panel{ width:80px; float:left; text-align:right; color:#6187ac; font-size:10pt; font-weight:bold;}
.dialog-pop-up .content .row .left-panel .driver-id{ width:75px; color:#fff;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color:#fff; font-size:9pt; padding-left:8px; padding-right:8px;}
.dialog-pop-up .content .row .left-panel .green-bg{ background-color:#6c8100;}
.dialog-pop-up .content .row .left-panel .red-bg{ background-color:#bd0101;}

.dialog-pop-up .content .row .center-panel{ width: 365px;float:left; margin-bottom:10px; margin-left:20px; margin-right:20px;}
.dialog-pop-up .content .row .center-panel .green-text{ color:#687c00;}
.dialog-pop-up .content .row .center-panel .red-text{ color:#a53905;}
.dialog-pop-up .content .row .center-panel .phone-request-icon{ background-image:url(images/phone-request-icon.png); margin:0px; padding:0px; width:24px; height:19px; background-repeat:no-repeat; background-position:center; float:left;}
.dialog-pop-up .content .row .center-panel .emergency-request-icon{ background-image:url(images/emergency-request-icon.png); margin:0px; padding:0px; width:24px; height:19px; background-repeat:no-repeat; background-position:center; float:left;}

.dialog-pop-up .content .row .center-panel .pending-action-icon{ background-image:url(images/pending-action-icon.png); background-color:#efefef; webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border:1px solid #ccc;
		margin:0px; margin-left:5px; padding:0px; width:24px; height:20px; background-repeat:no-repeat; background-position:center; float:right; cursor:pointer;}
.dialog-pop-up .content .row .center-panel .pending-action-icon:hover{background-color:#fff;}
.dialog-pop-up .content .row .center-panel .request-complete-icon{ background-image:url(images/request-complete-icon.png); margin:0px; padding:0px; width:24px; height:17px; background-repeat:no-repeat; background-position:center; float:right;}


.dialog-pop-up .content .row .center-panel p {padding:0px; margin:0px; font-size:10pt; color:#333333; width:auto; float:left}
.dialog-pop-up .content .row .center-panel i {padding:0px; margin:0px; font-size:8pt; color:#888; width:auto; float:right;}
.dialog-pop-up .content .row .right-panel{ width:100px; float:right; text-align:left; font-size:9pt; color:#888;}

.dialog-pop-up .button-panel { background-color:#c0c0c0;  height:48px; width:auto; clear:both; border-top:1px solid #ccc; }

.dialog-pop-up .button-panel button
{
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin-left:2px; margin-right:2px; margin-top:5px; cursor:pointer;
	border:1px solid #a2a2a2;padding-left:10px; padding-right:10px; min-width:60px; height:36px; line-height:34px; font-weight:bold;

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}
.dialog-pop-up .button-panel button:hover {

background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

}
.dialog-pop-up .button-panel button .button-icon {background-position:left; background-repeat:no-repeat; float:right; width:30px; height:30px; margin-right:-5px; margin-left:5px;}

.dialog-pop-up .dialog-footer { background-color:#c0c0c0;  height:107px; width:auto; clear:both; border-top:1px solid #ccc; }
.dialog-pop-up .dialog-footer textarea
{
	font-size:9pt; padding:0px; margin:0px; color:#333; margin-top:5px; margin-left:95px; padding:5px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border:1px solid #90c0e6;
	width:365px; max-width:365px; height:85px;max-height:85px;
}

.dialog-pop-up-icon-btn { height:30px; width:30px;background-color:#efefef; background-position:center; background-repeat:no-repeat;
	cursor:pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border:1px solid #ccc; }
.dialog-pop-up-icon-btn:hover { background-color:#fff;}
.dialog-pop-up .title .dialog-pop-up-icon-btn {margin-top:8px;}
.dialog-pop-up .title input {background-color:#fff; border:1px solid #4a7bac; height:26px;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin-top:9px; }

.add-load-plan-column { width:235px; min-height:218px; margin-top:15px; margin-left:15px; border:1px solid #ccc; background-color:#eee; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 
						background-image:url(images/add-load-plan-icon.png); background-position:center;background-repeat:no-repeat; cursor:pointer;}
.disable-add-load-plan-column { background-image: none}
.disable-add-load-plan-column:hover { border:1px solid #ccc !important}

.load-plan-column { width:235px; min-height:200px; margin-top:15px; margin-left:15px; border:1px solid #ccc; background-color:#ffffff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}

.load-plan-column .morebuttons { display:none; position:absolute; height: 35px;}
.load-plan-column:hover .morebuttons { display:block;}
.lp-close {height:30px; width:30px; float:right;-webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; margin-right:2px; margin-left:2px; margin-top:2px; cursor:pointer; 				
											background-image:url(images/close-icon-sml.png); background-position:center; background-repeat:no-repeat; }
.lp-close:hover {background-color:#ccc; }

.add-load-plan-column:hover {border:1px solid #666;}

.load-plan-column .col-group { width:230px; min-height:30px; margin:3px; font-size:9pt; color:#333;}
.load-plan-column .col-group-header {height:20px;}
.load-plan-column .col-group-header .lp-close {height:18px; width:18px; float:right;-webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; margin-right:2px; margin-top:2px; cursor:pointer; 				
											background-image:url(images/close-icon-sml.png); background-position:center; background-repeat:no-repeat; }
.load-plan-column .col-group-header .lp-close:hover {background-color:#ccc; }
.load-plan-column .col-group .first-cell {width:50px; min-height:30px; background-position:center; background-repeat:no-repeat; float:left;}

.load-plan-column .col-group .second-cell input {
	font-size:9pt; padding:0px; margin:0px; color:#4c4c4c; height:24px; line-height:24px; padding-left:3px; padding-right:3px; margin-top:2px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border:1px solid #90c0e6; border-left:0px; border-right:0px; border-top:0px; width:151px; margin-left:4px;
}
.load-plan-column .col-group .second-cell select {
	font-size:9pt; padding:0px; margin:0px; color:#4c4c4c; height:24px; line-height:24px; padding-left:3px; padding-right:3px; margin-top:2px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border:1px solid #90c0e6; margin-left:4px;
}
.hl-driver-icon {background-image:url(images/hl-driver-icon.png);}
.hl-icon {background-image:url(images/hl-icon.png);}
.hl-security-key-icon {background-image:url(images/hl-security-key-icon.png);}
.hl-flight-door-icon {background-image:url(images/hl-flight-door-icon.png);}


.close-cancel-icon {background-image:url(images/close-message-pop-up.png);}
.cancel-load-plan-icon {background-image:url(images/cancel-load-plan-icon.png);}
.save-load-plan-icon {background-image:url(images/save-load-plan-icon.png);}
.print-load-plan-icon {background-image:url(images/print-load-plan-icon.png);}
.recall-load-plan-icon {background-image:url(images/recall-load-plan-icon.png);}


.float-left {float:left;}
.float-right {float:right;}
.b {font-weight:bold;}
.bottom-border-off {border:0px !important;}
.border-on {border:1px solid #90c0e6 !important;}