body
{
	margin:0px;
}
.locate-left-panel
{
	width:100%;
}
.locate-left-panel ul
{
	padding:0px; margin:0px;	
	border-right:1px solid #DFDFDF;
	height:inherit;
}
.locate-left-panel ul li
{
	list-style:none;
}
.locate-left-panel ul li h1
{
	font-size:10pt; cursor:pointer;
	padding:0px; margin:0px;
	width:inherit; height:30px; line-height:30px;
	background-image:url(../images/locate-left-panel-title.png);
	color:#333; text-indent:10px;
	border-top:1px solid #999;
	border-top:1px solid #999;
	border-right:1px solid #ccc;
}

.locate-left-panel ul li h1 div
{
	float:right;
	display:none;
	background-color:#efefef;
	color:#333; font-size:8pt; font-weight:normal; text-indent:0px; text-align:center;
	height:23px; line-height:23px; margin-top:3px; margin-right:3px; 
	min-width:80px;
	border:0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;
	
}
.locate-left-panel ul li h1 div ul
{
	margin:0px; padding:0px; border:0px; display:none; z-index:100;
	position:relative;
}
.locate-left-panel ul li h1 div:hover > ul
{
	display:block;
}
.locate-left-panel ul li h1 div ul li
{
	background-color:#fff;
	height:23px !important; line-height:23px;
	border:1px solid #777;
}
.locate-left-panel ul li .details
{
	overflow:auto; 
	display:none;
}
.locate-left-panel ul li .details .detail-row
{
	background-color:#fff;
	height:163px;
	border-bottom:1px solid #efefef;
	position:relative; cursor:pointer;
	margin-bottom:0px;
}
.locate-left-panel ul li .details .detail-row:hover
{
	background-color:#fffaed;
	border-bottom:1px solid #ddd;
	z-index:10;
}


.map-pop-up-panel
{
	left: -180px;
    top: -180px;
    position: relative;
    opacity: 0.95;
}
.map-pop-up-panel-flights
{
	left: -110px;
    top: -90px;
    position: relative;
    opacity: 0.95;
}
.map-pop-up-panel .row-details
{
	border:1px solid #aaa;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
 	-moz-box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
 	box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
}
.map-pop-up-panel-flights .row-details
{
	border:1px solid #aaa;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
 	-moz-box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
 	box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
}
.map-pop-up-panel-history
{
	left: -183px;
    top: -110px;
    position: relative;
    opacity: 0.95;
}
.map-pop-up-panel-history .row-details
{
	border:1px solid #aaa;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
 	-moz-box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
 	box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
}
.pop-up-tail
{
	background-image:url(images/pop-up-tail.png);
	width:100%; height:24px; background-position:center; background-repeat:no-repeat; margin-top:0px;
}
.box-shadow
{
	border:1px solid #aaa;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
 	-moz-box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
 	box-shadow:  0px 0px 10px 0px rgba(000, 000, 000, .4);
}
.inset
{
	-moz-box-shadow:    inset 0 0 5px #666;
   -webkit-box-shadow: inset 0 0 5px #666;
   box-shadow:         inset 0 0 5px #666;
}

.trip-pop-up-panel
{
	position:absolute; 
	z-index:1100;
}
.close-pop-up
{
	background-position:center; background-repeat:no-repeat;
	background-image:url('images/icon-close.png'); cursor:pointer;
}
.close-pop-up:hover
{
	background-color:#ccc;
}

.form{}
.form tr td { font-size:8pt;}
.form tr td input{ font-size:8pt; padding:2px;}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    border-radius: 0px;
	background-color:#fff;
}
::-webkit-scrollbar-track:hover {
    border-radius: 0px;
	background-color:#efefef;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 8px;
	background-color:#bbb;
}
