.block
{
    display:block !important;
}
.hide
{
	display:none;
}
/* icons */
.close
{
	background-image:url(../images/icon-close.png);
}
.add
{
	background-image:url(../images/icon-add.png);
}
.nav-down-arrow
{
	background-image:url(../images/nav-down-arrow.png);
}
.nav-right-arrow
{
	background-image:url(../images/nav-right-arrow.png);
}
.icon-add
{
	background-image:url(../images/icon-add.png);
}
.icon-save
{
	background-image:url(../images/icon-save.png);
}
.icon-search
{
	background-image:url(../images/icon-search.png);
}
.icon-username
{
	background-image:url(../images/icon-username.png);
}
.icon-password
{
	background-image:url(../images/icon-password.png);
}
.icon-map-pin
{
	background-image:url(../images/icon-map-pin.png);
}
.refresh-24x24
{
	background-image:url(../images/refresh-24x24.png);
}
.edit-24x24
{
	background-image:url(../images/edit-24x24.png);
}
.save-24x24
{
	background-image:url(../images/save-24x24.png);
}
.copy-24x24
{
	background-image:url(../images/copy-24x24.png);
}
.add-24x24
{
	background-image:url(../images/add-24x24.png);
}
.down-arrow
{
	background-image:url(../images/down-arrow.png);
}

.float-left
{
	float:left !important;
}
.float-right
{
	float:right !important;
}
.scroll
{
	overflow:auto;
}
/* widths */
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w160{width:160px;}
.w170{width:170px;}
.w180{width:180px;}
.w190{width:190px;}
.w200{width:200px;}
.w225{width:225px;}
.w240{width:200px;}
.w250{width:250px;}
.w275{width:275px;}
.w300{width:300px;}
.w400{width:400px;}
.w420{width:420px;}
.w430{width:430px;}
.w600{width:600px;}
.w750{width:750px;}
.w800{width:800px;}
.w850{width:850px;}
.w860{width:860px;}

.w100p{width:100%;}
.w95p{width:95%;}
.w5p{width:5%;}
.w50p{width:50%;}
.w60p{width:60%;}

/*  heights */
.h20{height:20px;}
.h30{height:30px;}
.h60{height:60px;}
.lh60{line-height:60px;}
.h100{height:100px;}
.h150{height:150px;}
.h200{height:200px;}
.h250{height:250px;}
.h300{height:300px;}
.h350{height:350px;}
.h400{height:400px;}
.h1450{height:450px;}
.h500{height:500px;}
.h50p
{
	height:50%;
}
.h100p
{
	height:100%;
}
/* margings-right */
.m5r
{
	margin-right:5px;
}
.m15r
{
	margin-right:15px;
}
.m4t{
	margin-top: 4px;
}
.red
{
	background-color:red;
	color:#fff;
}
.orange
{
	background-color:orange;
	color:#000;
}
.yellow
{
	background-color:yellow;
	color:#000;
}

.green
{
	background-color:#33CC66;
	color:#fff;
}
.gold
{
    background-color:gold;
}
.blue
{
	background-color:blue;
	color:#fff;
}
.light-grey
{
	background-color:#efefef;
	color:#333;
}
.light-grey:hover
{
	background-color:#fff;
}
.grey
{
	background-color:#ccc;
	color:#000;
}
.ffp-blue
{
	background-color:#0066FF;
}
.ffp-silver
{
	background-color:#ddd;
}
.ffp-gold
{
	background-color:gold;
}
.ffp-platinum
{
	background-color:#666666;
}
.ffp-io
{
	background-color:#FF0000;
}
.green-led
{
	background-image:url(../images/green-led.png);
	background-position:center; background-repeat:no-repeat;
	height:24px; width:24px;
}
.br6
{
    -webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius-top-left: 6px;
	-moz-border-radius-bottom-left: 6px;
	border-radius: 6px 6px;
}
.bgnorepeat
{
    background-repeat:no-repeat;
    background-position:top;
}
.float-clear
{
	clear:both;
}

.truncate-wrap{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}





















