body
{
	margin:0px;padding:0px;
	background-color:#eee;
	background-image:url(../Images/body-bg.png);
	min-width:960px;
	overflow:hidden;
}
body *
{
	font-family:Verdana;
}
.header
{
	height:40px;
	min-width:1024px;
	background-color:#3ecbcd;
    background-image:url(../images/esther_website_header_logo.png);
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x: 20px;
}
.header .version
{
	color:#dadada;
	width:90px;
	font-size:8pt; height:45px; line-height:48px;
}
.header .logo
{
	height:44px;
	width:143px;
	background-image:url(../Images/login-logo.png);
	margin-right:10px;
}
/* header panel */
.header .nav
{
	height:45px; margin:0px; margin-left:2px; float:left;
	padding:0px;
}
.header .nav li
{
	float:left; padding-left:15px; padding-right:15px; list-style:none; margin-top:8px;
	background-image:url(../Images/nav-bg.png); height:28px; line-height:28px;
	font-size:8pt; color:#ddd; cursor:pointer; z-index:100; position:relative;
}
.header .nav li:first-child
{
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-top-left: 6px;
	-moz-border-radius-bottom-left: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left:1px solid #121212;
}

.header .nav li:last-child
{
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-top-right: 6px;
	-moz-border-radius-bottom-right: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-right:1px solid #121212;
}
.header .nav .single
{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.header .nav li ul
{
	height:28px; padding:0px; margin:0px;
	width:125px; position:absolute;
	display:none;
}
.header .nav li:hover
{
	background-color:#000;
}
.header .nav li:hover > ul
{
	display:block;
}
	
.header .nav li ul li
{
	float:none; margin:0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border: 0px !important;
	margin-left:-10px !important;
	background-image:none;
	background-color:#272727;
	border-bottom:1px solid #353535;
}
.header .nav li ul .seperator-top
{
	border-bottom:1px solid #000 !important;
}
.header .nav li ul .seperator-bottom
{
	border-top:1px solid #444 !important;
}


.header .nav li ul li ul
{
	position:absolute;
	display:none; float:left;
}

.header .nav li ul li:hover > ul
{
	display:block; margin-left:130px; margin-top:-28px;
}
.header .nav .icon
{
	padding-right:0px; 
}
.header .nav .icon div
{
	background-position:center; background-repeat:no-repeat;
	width:28px; height:28px;float:right;
	border-left:1px solid #111; margin-left:10px;
}

.header .nav a
{
	text-decoration: none;
    color:#fff;   
}

.header .search-box
{
	float:left; height:45px; width:205px;
	margin-left:10px;
}
.header .search-box input
{
	width:inherit; height:24px; line-height:24px; text-indent:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	border:1px solid #ccc; 
	padding:0px; margin:0px; margin-top:8px;
	background-position: right; background-repeat:no-repeat;
	background-color:#edeceb;
}
/* bread crumbs */
.bread-crumbs
{
	width:100%;
	height:24px;
	background-image:url(../Images/section-title-bg.png);
	border-bottom:1px solid #222;
}
/* footer panel */
.footer
{
	height:20px;
	background-color:#3ecbcd;
}


/* tabs panel */
.tabs
{
	padding:0px; margin:0px; list-style:none; width:100%; height: 40px;
	border-bottom:1px solid #1d1d1d;
}
.tabs li
{
	height:32px; line-height:32px;margin-top:7px;
	padding-left:10px; padding-right:10px; float:left;
	font-size:9pt; font-weight:bold; margin-right:1px; cursor:pointer;
	-webkit-border-radius:6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	color:#e5e5e5; border: 1px solid #1d1d1d;
	background-color:#797776; background-image:url(../Images/tab-bg.png);
}
.tabs li:hover
{
	background-image:none;
	background-color:#999 
}
.tabs .active, .tabs .active:hover
{
	background-color:#d2d2d2; background-image:url(../Images/active-tab-bg.png);
	color:#484848;
	border-bottom:1px solid #f2f2f3;
}
.tabs li:first-child
{
	margin-left:10px;
}
.tabs .icon span
{
	
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px; 
	width:14px; height:14px;
 	float:right; 
	margin-right:-8px; margin-top:2px; margin-left:10px;
	background-position:center; background-repeat:no-repeat;
	background-color:#ccc;
}
.tabs .icon span:hover
{
	background-color:#efefef; 
}

.tabs .btn
{
	padding-right:0px !;
}
.tabs .btn span
{
	-webkit-border-radius:0px 4px 0px 0px;
	-moz-border-radius:0px 4px 0px 0px;
	border-radius:0px 4px 0px 0px; 
	width:20px; height:32px;
 	float:right; 
	margin-left:10px;
	background-position:center; background-repeat:no-repeat;
}
/* title panel */
.title-panel
{
	height:40px; width:100%;
	background-image:url(../Images/title-panel-bg.png);
	border-bottom:1px solid #2c2c2c;
}
.title-panel .count,
.title-panel .button,
.title-panel input,  .title-panel .radio-button, .title-panel .checkbox,  .title-panel .ui-multiselect, .title-panel .icon-24x24
{
	margin-top:7px; margin-right:7px;margin-left:7px;
}
.title-panel .*
{
	margin-top:10px; margin-left:10px; margin-right:3px;
}

.title-panel .select-drop-down
{
	margin-top:6px; margin-right:7px;margin-left:7px;
}
.title-panel .progress-bar-container
{
	margin-top:10px; margin-left:5px;
}
.title-panel .label 
{
	font-size:9pt; color:#333; margin:12px; margin-right:0px;
}

/* separators */
.separator
{
	width:20px; background-image:url(../Images/seperator.png); height:inherit; background-position:center; background-repeat:no-repeat;
}
/* panel - container */
.panel-container
{
	margin:0px; padding:0px;
}
.panel-container .center-panel
{
	float:left;
}
.panel-container .handle
{
	background-color:#ccc; 
	width:6px; height:inherit; float:left; cursor:pointer;
	border-right:1px solid #111;
	border-left:1px solid #111;
	background-image:url(../Images/handle.png); background-repeat:no-repeat; background-position:center;
}
.panel-container .handle:hover
{
	background-color:#999;
}
.panel-container .left-panel, .panel-container .right-panel
{
	overflow:auto;
	float:left;
}
.panel-container .handle.top-wing, .panel-container .handle.bottom-wing
{
	height: 6px;
}

.panel-container .bottom-panel
{
	overflow:hidden;
	float:left;
	display: block;
}
.panel-container .double-arrow-left
{
	background-image:url(../Images/double-arrow-left.png); 
	background-repeat:no-repeat; 
	background-position:center;
}
.panel-container .double-arrow-right
{
	background-image:url(../Images/double-arrow-right.png); 
	background-repeat:no-repeat; 
	background-position:center;
}
/* Sections */
.section
{
	height:inherit; background-image:url(../Images/section-bg.png);
}
.count
{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px; text-indent:0px; padding-left:7px; padding-right:7px;
	height:24px; line-height:24px; text-align:center;
  	color:#ffe401; font-size:7pt; font-weight:bold;
	background-color:#222; border:1px solid #666;
}
.section .title
{
	width:inherit; height:32px; line-height:32px; text-indent:10px; color:#fff;
	background-color:#444;
	/*background-image:url(../Images/section-title-bg.png);*/
	font-size:9pt;
}

.section .title .icon-button, .section .title .button, .section .title input
{
	margin:4px; margin-left:0px; margin-top:2px;
}
.section .title .checkbox
{
	color:#fff000; font-weight:bold; margin-top:5px; margin-left:5px; text-indent:3px;
}
.section .title .separator
{
	width:1px; background-color:#999; margin-left:5px; margin-right:5px;
	background-image:none;
}
.section .title .count
{
	margin-right:3px; margin-left:3px; margin-top:5px; color:#ccc; height:18px; line-height:18px; font-size:7pt;
}
.section  .section-dtls
{
}
/* accordion panel */
.accordian
{
	padding:0px; margin:0px;
}
.accordian li
{
	background-image:url(../Images/accordian-panel-title-bg.png);
	list-style:none; background-repeat:no-repeat; background-repeat:repeat-x;
}
.accordian li h1
{
	font-weight:bold; height:32px; line-height:32px; padding:0px; margin:0px; font-size:10pt; text-indent:25px;
	cursor:pointer; color:#f1f1f1; border-top:1px solid #777;border-bottom:1px solid #111;
	background-image:url(../Images/accordian-down-arrow.png); background-position:left; background-repeat:no-repeat;
}
.accordian li h1 .checkbox
{
	color:#fff; font-weight:bold;
}
.accordian li h1 .count
{
	color:#fff; font-weight:bold; margin-right:3px; margin-top:3px;
}
.accordian li h1 .dimmed-text
{
	color:#ccc; font-weight:normal; font-size:8pt;
}
.accordian li .dtls
{
	background-color:#efefef; width:100%; color:#333;
	font-size:9pt; font-weight:normal;
	display:none; max-height:300px; text-indent:10px; min-height:1px; padding-top:5px;padding-bottom:5px;
	overflow-x:hidden;
	overflow-y:scroll;
}

/* simple grid view */
.simple-grid
{
	padding:0px; margin:0px; 
	list-style:none; width:100%;
}

.simple-grid tr td
{
	padding-left:5px;
	padding-top:2px;
	height:30px;line-height:18px; font-size:9pt;
	background-color:#fff; color:#444;
	border-bottom:1px dashed #ccc;
	cursor:pointer;
}
.simple-grid tr td .line-2
{	
	font-size:8pt; color:#777;
}
.simple-grid tr td .highlight-round
{
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; border:1px solid #666; padding-left:3px;padding-right:3px;	
	text-align:center; font-size:7pt; background-image:url(../Images/progress-bar-bg.png); height:14px; line-height:14px; margin-bottom:2px; margin-right:5px;
}
.simple-grid tr td .highlight-bar
{
	width:3px;
	background-image:url(../Images/progress-bar-bg.png); height:inherit; margin-right:7px; float:left;
}
.simple-grid .double-line td
{
	height:40px; vertical-align:text-top;
}

.simple-grid tr:hover td, .simple-grid tr .selected
{
	color:#000;
	background-color:#e8f3ff;
}

.simple-grid .grdheader
{
	padding-left:5px;
	height:30px; line-height:30px; font-size:9pt;
	background-color:#E4E4E4; color:#333; font-weight:bold;
	border-bottom:1px solid #aaa; text-align:left;
}
.simple-grid thead tr:hover td
{
	background-color:#E4E4E4; color:#333; cursor:default;
}
.simple-grid tr td .round-grid-button
{
	margin:5px;
}
.simple-grid tr td a
{
	color:#4ea3f0; font-size:8pt;
	text-decoration:none;
}
.simple-grid tr td a:hover
{
	color:#013b6e;
}
.simple-grid tr .grid-expanded-row
{
	background-color:#efefef; border:1px solid #ddd;
}
.simple-grid tr .active-user
{
	background-image:url(../Images/active-user.png);
	background-position:right; background-repeat:no-repeat;
	height:24px; width:24px;
}
.simple-grid tr .in-active-user
{
	background-position:right; background-repeat:no-repeat;
	height:24px; width:24px;
	color:#ccc;
}


/* Permission */
.permissions, .permissions li ul, .permissions li ul li ul
{
	width:100%; border-collapse:collapse;
	margin:0px; padding:0px; list-style:none;
}
.permissions li input
{
	margin-top:4px;
}
.permissions li h1
{
	font-size:9pt; font-weight:normal; padding:0px; margin:0px;
	min-height:30px; line-height:30px; background-color:#fff; text-indent:24px;
	color:#999; border-bottom:1px dashed #ccc; cursor:pointer;
}
.permissions li h1:hover
{
	background-color:#efefef;
}
.permissions li ul li h2:hover
{
	background-color:#e8f3ff;
}
.permissions li .round-grid-button 
{
	margin:4px !important;
	
}
.permissions li .on
{
	background-color:#ddd; color:#000;
}
.permissions li .none
{
	background-image:url(../Images/permission-none.png);
	background-position:left; background-repeat:no-repeat;
}
.permissions li .full
{
	background-image:url(../Images/permission-full.png);
	background-position:left; background-repeat:no-repeat;
}
.permissions li .partial
{
	background-image:url(../Images/permission-partial.png);
	background-position:left; background-repeat:no-repeat;
}
.permissions li ul, .permissions li ul li ul
{
	display:none;
}
.permissions li ul li
{
	background-color:#f9f9f9;
	font-size:10pt; font-weight:normal; padding:0px; margin:0px;
	min-height:30px; line-height:30px;
	font-size:8pt; color:#888;
}
.permissions li ul li h2
{
	font-size:9pt; font-weight:normal; padding:0px; margin:0px;
	min-height:30px; line-height:30px; background-color:#fff; text-indent:30px;
	color:#999; border-bottom:1px dashed #ccc; cursor:pointer;
}
.permissions li ul li .on
{
	background-color:#f9f9f9; color:#333;
}

.permissions li ul li ul li
{
	min-height:30px; max-height:100px; overflow:auto; background-color:#fff; text-indent:35px;
	border-bottom:1px dashed #ccc;
	font-size:9pt; color:#999;
	padding-left:70px; padding-bottom:3px;
}

.permissions li ul li ul li div
{
	float:left; height:18px; line-height:18px;
	text-indent:0px; text-align:center; padding-left:5px; padding-right:5px; font-size:8pt; color:#bcbcbc;
	margin-top:5px;margin-right:3px;

	background-color:#f9f9f9;
	background-position:right; background-repeat:no-repeat; padding-right:30px;
	background-image:url(../Images/add-16x16.png);	
	-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; border:1px solid #e3e2e2; cursor:pointer;

}
.permissions li ul li ul li div:hover
{
	border:1px solid #555; color:#555;
}
.permissions li ul li ul li .on
{
	background-color:#fff;
	background-position:right; background-repeat:no-repeat; padding-right:30px;
	background-image:url(../Images/close-16x16.png);	
	border:1px solid #0cff00;
	background-color:#ebffc3;
}
/* form elements & buttons */

.xForm
{
 	width:100%; background-color:#efefef; border-collapse:separate;
}

.xForm tr td
{
	font-size:8pt; color:#555; font-weight:bold; padding:0px; padding-left:2px;
	border:0px;background-color:inherit;
}
.xForm .mandatory td
{
	font-size:7pt;color:red; font-weight:normal; text-indent:5px; height:10px;
}
.xForm .spacer
{
	height:5px;
}
.xForm .separator-hor td
{
	height:26px; 
	background-image:url(../Images/seperator-hor.png);
	background-color:#bbb;
	-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; border:1px solid #999;
}
.xForm .separator-hor td .exp-col
{
	background-color:#efefef;
	background-image:url(../Images/exp-col.png);
	width:20px; height:20px; cursor:pointer;
	-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px; border:1px solid #999; margin-right:4px;
}
.xForm .separator-hor td .label
{
	font-size:8.5pt; font-weight:bold; text-align:center;
	height:18px; line-height:18px; margin-left:5px;
	color:#000;
	
	text-shadow: 0px 1px 1px #ddd;
    -webkit-text-shadow: 0px 1px 1px #ddd;
    -moz-text-shadow: 0px 1px 1px #ddd;
}
.xForm .separator-hor td .exp-col:hover
{
	background-color:#ddd;
}
.xForm .labels td
{
	font-size:9pt; color:#555; font-weight:bold;
	padding-left:5px; padding-bottom:0px;
}
.form-actions
{
	height:25px; padding:5px;
	border-top:1px solid #333;
}
input
{
	height:22px; line-height:22px; font-size:9pt; color:#333; padding-left:1px; padding-right:1px;
	-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px; border:1px solid #999; vertical-align:middle;
}
input.mandatory, textarea.mandatory
{
	border-left:2px solid red;
}
textarea
{
	font-size:9pt; color:#333; padding-left:1px; padding-right:1px;
	-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px; border:1px solid #999; vertical-align:middle;
}
.checkbox
{
	cursor: pointer;font-size:9pt; color:#555; font-weight:normal;
	height: 20px; line-height:20px;  
	padding-left:22px; 
	padding-top:2px; 
	padding-bottom:2px; margin-right:10px; 
	background-image:url(../Images/check-box.png); background-repeat:no-repeat; background-position:left;
}
.checkbox:hover
{
	color:#0066FF;
}
.checkbox-checked
{
	background-image:url(../Images/check-box-checked.png);
}

.button
{
	-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px; border:1px solid #666;
	cursor:pointer; padding-left:5px; padding-right:5px;
    text-indent:0px;text-align:center;color:#fff; font-size:9pt;
	background-color:#333; height:28px; line-height:28px;
}
.icon-button
{
	-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
	height:24px; width:24px;
	background-position:center; background-repeat:no-repeat;
	background-color:#ccc; border:1px solid #999; cursor:pointer;
}
.icon-button:hover
{
	background-color:#efefef;
	border-bottom:1px solid #555;border-right:1px solid #909090;
}

.round-grid-button
{
	-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px; border:1px solid #ddd;
	cursor:pointer; height:20px; width:20px;
	background-color:#f9f9f9;
	background-position:center; background-repeat:repeat-x;
	margin:0px !important;margin-right:2px !important;
}
.round-grid-button:hover
{
	background-color:#fff;
}
.button:hover
{
	background-color:#fff;color:#333;
}
.radio-button
{
	padding:0px; list-style:none; margin:0px;
}
.radio-button li
{
	float:left; height:24px; line-height:24px;
	border:1px solid #5e5e5e; 
	/*background-image:url(../Images/radio-button-bg.png);*/
	padding-left:7px;padding-right:7px;
	font-size:8pt; font-weight:bold; cursor:pointer;color: #666;
}
.radio-button li:hover
{
	color: #111;
}
.radio-button li:first-child
{
	-webkit-border-radius:6px 0px 0px 6px;
	-moz-border-radius:6px 0px 0px 6px;
	border-radius:6px 0px 0px 6px; 	
}
.radio-button li:last-child
{
	-webkit-border-radius:0px 6px 6px 0px;
	-moz-border-radius:0px 6px 6px 0px;
	border-radius:0px 6px 6px 0px; 	
}
.radio-button .active
{
	background-image:url(../Images/radio-button-active-bg.png);
	color:#111;
}

.radio-button .inactive
{
	background-image:url(../Images/title-panel-bg.png);
	color:#111;
}

.button-set
{
    padding-left: 14%;
    padding-bottom: 5px;
}

.default
{
	height:24px; line-height:23px; 
}
.large
{
	height:36px; line-height:36px; 
}

.select-drop-down
{
	-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px; border:1px solid #666; padding-left:7px;
	height:24px; line-height:23px;;cursor:pointer; position:relative;
	padding-right:30px;background-image:url(../Images/button-bg-down-arrow.png); background-position:right;
}
.select-drop-down h1
{
	padding:0px; margin:0px;
	color:#000; font-size:8pt; font-weight:bold;
}

.select-drop-down ul
{
	display:none; position:absolute; padding:0px; margin:0px; background-color:#fff; border:1px solid #999;
	text-align:left; list-style:none;
	
	-webkit-box-shadow:  0px 3px 3px 0px rgba(00, 00, 00, .2);
    -moz-box-shadow:  0px 3px 3px 0px rgba(00, 00, 00, .2);
    box-shadow:  0px 3px 3px 0px rgba(00, 00, 00, .2);
	z-index:1000;
}
.select-drop-down ul li
{
	border-bottom:1px solid #ccc;padding-left:5px; padding-right:5px; min-height:24px; font-weight:normal; color:#333;font-size:8pt;
}
.select-drop-down ul li:hover
{
	background-color:#e8f3ff;
}
.progress-bar-container
{
	-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; border:1px solid #aaa;
	height:16px; background-color:#efefef; margin-left:10px;
	background-image:url(../Images/progress-bar-bg.png);
}
.progress-bar
{
	-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
	height:16px;
}
.red-flag
{
	width:24px; height:24px; padding:12px; padding-left:5px; padding-right:5px; margin-right:10px;background-position:center; background-repeat:no-repeat;
	background-image:url(../Images/flag.png);  border:1px solid transparent;
}
.green-flag
{
	width:24px; height:24px; padding:12px; padding-left:5px; padding-right:5px; margin-right:10px;background-position:center; background-repeat:no-repeat;
	background-image:url(../Images/green-flag.png);  border:1px solid transparent;
}
.icon-24x24
{
	width:24px; height:24px; background-position:center; background-repeat:no-repeat;
}

/* login panel styles */
.login-box
{
	width:800px; height:300px; 
	background-image:url(../images/fleet-ekfc.png); 
	background-position:left; 
	background-repeat:no-repeat; padding-top:23px;
	border:0px solid red;
}

.login-panel
{
	height:275px; width:400px;
	margin-left:343px;
	background-color:rgba(255, 255, 255, 0.95);
	background-image:url(../images/login-panel-bg.png);
	border:1px solid #b2d81a;
	-webkit-border-radius:2px;
	-moz-border-radius:2px; 
	border-radius:2px; 
	/*
	-webkit-box-shadow:  0px 2px 0px 0px #fff;
    -moz-box-shadow:  0px 2px 0px 0px #fff;
    box-shadow:  0px 2px 0px 0px #fff;
	*/
}
.login-panel-shadow
{
	background-image:url(../images/login-panel-shadow.png);
	width:400px; height:50px;
}
.login-logo
{
	background-image:url(../Images/login-logo.png);
	background-position:left; background-repeat:no-repeat;
	width:100%;
	height:55px;
	 margin:auto;margin-bottom:2px;
}
.login-panel h1
{
	font-size:15pt; background-image:URL(../images/login-title-bg.png); height:57px; line-height:40px;
	margin:0px; margin-bottom:25px; color:#333; font-weight:normal; width:100%; text-align:center;
}
.login-panel input
{
	font-size:10pt; height:40px; line-height:40px; margin-bottom:12px; padding-left:36px; 
	padding-right:5px; margin-left:30px; color:#555; background-position:left;background-repeat:no-repeat; border:1px solid #cdcdcd;
	-webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px; 
}
.login-panel div, .login-panel table
{
	margin-left:12px;
}
.login-panel a
{
	color:#333; font-size:8pt;
}
.labels
{	
	text-align:center; font-weight: bold; color:#660000;font-size:8pt;
	text-shadow: 0px 1px 1px #fff; background-color:#fff;  cursor:default;   
	white-space: nowrap;
	height: 25px; line-height: 25px;
	padding-left: 3px; padding-right: 3px;
	vertical-align:middle;
	border:1px solid black;
	min-width: 100px;
	display:table-cell;
}

.goog-button
{
    cursor: pointer; -webkit-user-select: none; text-align: center;
    font-family: Arial, sans-serif; font-size: 13px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; color: rgb(0, 0, 0); border: 1px solid rgb(113, 123, 135);
    background-color: rgb(255, 255, 255); z-index: 0;width: auto;
    padding-left: 4px; padding-right: 4px;
}

.savedviewhidden
{
    height: 0px !important;
}
.savedviewhidden .jcarousel-wrapper
{
    display: none;
}
.savedviewhidden .button
{
    display: none;
}
.exp-col
{
	background-color:#efefef;
	background-image:url(../Images/exp-col.png);
	width:20px; height:20px; cursor:pointer;
	-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px; border:1px solid #999; margin-right:4px;
}
.icon-button-tx
{
	-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;
	height:24px; width:24px;
}
.icon-button-tx:hover
{
	height:24px; width:24px;cursor:pointer;
}
.tooltip
{
    
}
::-webkit-scrollbar {
    width: 8px;
	height:8px;
}
 
::-webkit-scrollbar-track {
    border-radius: 0px;
	background-color:#fff;
}
::-webkit-scrollbar-track:hover {
    border-radius: 0px;
	background-color:#efefef;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 8px;
	background-color:#bbb;
}
.icon-prev{
	width: 24px;
	height: 29px;
}
.icon-prev:hover
{
	cursor: pointer;
}
.icon-next{
	width: 24px;
	height: 29px;
}

.icon-next:hover
{
	cursor: pointer;
}
.icon-prev,.icon-previous{    background: url(../images/arrow_left.png) no-repeat left center !important;}
.icon-next{    background: url(../images/arrow_right.png) no-repeat left center !important;}
.alert
{
    background-image:url(../Images/alert.png); 
    background-position:left; 
    background-repeat:no-repeat;
    float: left;
    color:#cc0000;
    display: none;
    font-size: 10px;
    padding-left: 20px;
}
.ui-slider-range {
    height: 10px;
    border-bottom: 3px solid red;
    position: relative;
}
.blue-btn {
    color: #fff !important;
    border: 1px solid #17549b;
    background-color: #498ae1;
}
.blue-btn:hover
{
	background-color: #afd4ff;
}
.mini
{
	height:23px; line-height: 23px !important; 
}
.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 11px;
    visibility: visible;
    margin-top: -2px;
    bottom: 120%;
    margin-left: -2em;
}
.tooltip .tooltip-arrow {
   
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.degrading{
    position: relative;
    background-color: #fecccc;
    /*background-image:url(../images/red-arrow.svg);
    background-position: 50% 70%;
    background-repeat: no-repeat;*/
}
.trip-home{
    text-align: center;
    margin-top: 40px;
    font-size: 20pt;
}
.text-home{
    text-align: center;
    font-size: 42pt;
}
.powered-by{
    width:109px;
    height: 40px;
    float: right;
    background-image:url(../images/esther_website_header_poweredby.png);
    background-repeat: no-repeat;
    background-position-y:center;
}
.degrading-arrow{
   position: absolute;
    bottom: 40px;
    width: 100%;
    height: 30%;
    background-image: url(../images/red-arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.degrading-text {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #da7d82;
}
.degrading-value{
    text-align: center;
    color: #c1272e;
    font-size:130pt;
}
.improving-arrow{
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 30%;
    background-image: url(../images/green-arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.improving-text {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #99c3ae;
}
.improving-value{
    text-align: center;
    color: #106837;
    font-size:130pt;
}