.info-bar
{
	height:40px; width:100%;
	background-color:#fafafa;
	background-image:url(../images/info-bar-bg.png);
	border-bottom:1px solid #aaa;
	line-height:30px; text-indent:5px;
}
.info-bar input, .info-bar .icon-btn
{
	margin-top:5px;
}
.info-bar .button,  .info-bar select
{
	margin-top:3px;
}

.info-bar-seperator
{
	background-image:url(../images/info-bar-seperator.png);
	width:16px; background-position:center; background-repeat:no-repeat; height:30px;
}
.info-bar .icon-btn
{
	margin-top:2px !important;
}
.info-bar ul
{
	padding:0px; margin:3px;
}
.info-bar .toggle-button
{
	margin-top:3px;
}
.info-bar .label
{
	font-size: 10pt !important;
	font-weight: bold;
}

.info-bar .filter-container
{
	position: absolute;
	z-index: 9999;
	color: #222;
	padding: 0px;
	width: 200px;
	background: white;
	overflow: auto;
	max-height: 300px;
	border: 1px solid #AAA;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
}

